body {
  font-family: "Montserrat";
}

#title {
  background-color: #1aa2ff;
  color: #ffd;
}

.heading {
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  line-height: 1.5;
}
.container-fluid {
  padding: 3% 15% 2%;
}

/* Navigation bar */

.navbar {
  padding: 0 0 4.5rem 0;
}
.nav-item {
  padding-left: 18px;
  padding-right: 18px;
}
.nav-link {
  font-family: "Montserrat";
  font-size: 1.2rem;
}

/* Dnload Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-img {
  position: absolute;
  right: 30%;
  transform: rotate(25deg);
  width: 60%;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
#features {
  position: relative;
  background-color: white;
  padding: 7% 15%;
  text-align: center;
}
.feature-box {
  padding: 5%;
}

.features-icon {

  color: #ef8172;
  margin-bottom: 1rem;
}
.features-icon:hover {
  color: #ff4c68;
}
h3 {
  font-weight: bold;
}

/* Testimonial section */

#testimonials {
  background-color:  #ef8172;
  color: #fff;
  text-align: center;
}

h2 {

  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}
.testimonial-img {
  margin: 20px;
  width: 10%;
  border-radius: 100%;
}

.carousel-item {
    padding: 7% 15%;
}

/* Press Section */

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  text-align: center;
  padding: 100px;
}

.pricing-row {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-img {
    position: static;
    transform: rotate(0);
  }
}

/* CTA Section */

#cta {
  padding: 5% 25%;
  color: #fff;
  text-align: center;
  background-color: #ff4c68;
}

/* Footer Section */

#footer {
  background-color: #fff;
  color: #8f8f8f;
  font-size: 1rem;
  padding: 5% 15%;
  text-align: center;
}

.fa-lg {
  padding: 1% 1%;
  color: black;
}
